* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
i {
    margin: 10px;
}

.table {
    display: table;
    width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-cell {
    padding: 10px;
    vertical-align: middle;
    border: 1px solid black;
    display: table-cell;
}
